*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}



/*scroll snap debe de tener si o si overflow*/
.contenedorSnap{
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
}

.item_snap{
    width: 100%;
    height: 100%;

    scroll-snap-align: start;
    scroll-snap-stop: always;
    scroll-padding: 0;
    
}

.blue{
    background: rgb(45, 45, 200);
}

.red{
    background: rgb(213, 58, 58);
}

.green{
    background:rgb(88, 186, 88) ;
}

.yellow{
    background: rgb(186, 186, 67);
}

.orange{
    background: rgb(173, 130, 50);
}


header{
    background: white;
    width: 100vw;
    padding: 20px;
    position: fixed;
    z-index: 1000;
    top: 0;
}

header div{
    display: flex;
    gap:20px;
    list-style: none;
}